body{
  margin: 10px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 5px;
  line-height: 30px;
}

.recipeImage{
  max-width: 400px;
}

.jumbotron h1{
  font-family: 'Indie Flower', cursive;
  text-transform: uppercase;
  font-size: 6em;
}

.jumbotron p{
  font-family: 'Dawning of a New Day', cursive;
  font-size: 3em;
}

.jumbotron {
  text-align: center;
  background-image: url("../img/header1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }

.option-subheader{
  margin-top: 10px;
  font-size: 1.5em;
  text-transform: uppercase;
}

.col-md-4 {
  border-right: solid 1px black;
}

.results-column{
  text-align: center;
}

li {
  list-style: none;
}

.footer-top{
  min-height: 150px;
  background-color: #f2f2f2;
  text-align: center;
}

.footer-top i{
  font-size: 5em;
}

.footer-bottom{
  min-height: 200px;
  background-color: black;
  color: white;
  text-align: center;
}
